<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/materialize.css">
  <link rel="stylesheet" href="../css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <div class="header"></div>
  <div class="top-part">
      <img src="../img/album.jpg" class="center-block">
      <h5>Leprosy (Deluxe Reissue)</h5>
      <p class="circularlight grey-text lighten-5">Álbum de Death (<strong>.</strong> 2014)</p>
      <a href="" class="btn-floating btn-large green accent-4"><i class="material-icons">play_arrow</i></a>
  </div> 

  <ul class="songs">

    <li>
      <div class="row song-block">
        <a class="col s10 transparent">
            <div class="row song"><h6 class="circularbold">Leprosy</h6></div>
            <div class="row artist grey-text lighten-5"><p class="circularlight">Death</p></div>
        </a>
        <a href="">
        <span class="col s2 grey-text lighten-5"><i class="material-icons">more_vert</i></span>
        </a>
      </div>  
    </li>

    <li>
      <div class="row song-block">
        <a class="col s10 transparent">
            <div class="row song"><h6 class="circularbold">Born Dead</h6></div>
            <div class="row artist grey-text lighten-5"><p class="circularlight">Death</p></div>
        </a>
        <a href="">
        <span class="col s2 grey-text lighten-5"><i class="material-icons">more_vert</i></span>
        </a>
      </div>  
    </li>

    <li>
      <div class="row song-block">
        <a class="col s10 transparent">
            <div class="row song"><h6 class="circularbold">Left to Die</h6></div>
            <div class="row artist grey-text lighten-5"><p class="circularlight">Death</p></div>
        </a>
        <a href="">
        <span class="col s2 grey-text lighten-5"><i class="material-icons">more_vert</i></span>
        </a>
      </div>  
    </li>


  </ul>

  <div class="bottom-part">
    <p class=circularlight>29 de abril de 2014</p>
    <p class=circularlight>36 músicas . 2h50min</p>
    <a class="band" href="#">
      <img src="../img/band.png" width="50px">
      <h6>Death</h6>
    </a>
    <div class="more-artists">
      
      <div class="carousel">
        <h6>Mais que talvez você goste</h6>
      <a class="carousel-item" href="#one!"><img src="../img/thrashers.jfif"></a>
      <a class="carousel-item" href="#two!"><img src="../img/classics.jfif"></a>
      <a class="carousel-item" href="#three!"><img src="../img/essentials.jfif"></a>
      <a class="carousel-item" href="#four!"><img src="../img/blackdark.jfif"></a>
      <a class="carousel-item" href="#five!"><img src="../img/extremeworkout.jfif"></a>
      <a class="carousel-item" href="#five!"><img src="../img/joeyjordison.jfif"></a>
      </div>
    </div>
    <p class="circularlight">2014 Relapse Records</p>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script src="../js/materialize.js"></script>
  <script>
    $(document).ready(function(){
    $('.carousel').carousel({
      dist: 0,
      padding: 40,
      fullWidth: false
    });
    });
  </script>
</body>
</html>